#title{
    background-color: #ff4c68;
}
#title .container-fluid{
    padding: 5%;
    height: 60%;
}
body{
    font-family: 'Urbanist';
}
h1{
    font-family: 'Satisfy';
    font-size: 5rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
}
#features p{
    color: rgb(165, 165, 165);
}

#features i{
    color: #ef8172;
}

#features i:hover{
    color: #ff4c68;
}
h3{
    font-family:'Quicksand';
    font-weight: bold;
}
div#download-buttons{
    z-index: 1;
    justify-content:center;
}

.navbar-nav{
    font-size: 1.6rem;
}
.navbar-brand{
    letter-spacing: 4px;
    font-size: 3rem;
    font-weight: bold;
}
#page-body{
    padding-top: 5%;
}

#android-button{
    margin-right: 1rem;
}
#apple-button{
    z-index: 1;
}

#android-button, #apple-button{
    font-size: 30px;
}

img.iphone-image{
    z-index: 0;
    transform:rotate(25deg);
    -ms-transform:rotate(25deg); /* IE 9 */
    -moz-transform:rotate(25deg); /* Firefox */
    -webkit-transform:rotate(25deg); /* Safari and Chrome */
    -o-transform:rotate(25deg); /* Opera */
}

#testimonials{
    padding: 5%;
    text-align: center;
    font-weight: bold;
}

@media(max-width:991px){
    #android-button, #apple-button{
        height: 7rem;
        width: 14rem;
        font-size: 30px;
    }
}

@media(min-width:992px){
    #title .container-fluid{
        height: 700px;
    }
}